
doctype html
html
  head
    link(rel="stylesheet" href="/css/vendor.min.css" type="text/css" media="screen" charset="utf-8")
    link(rel="stylesheet" href="/css/app.css" type="text/css" media="screen" charset="utf-8")

    body
      header
        #user-info

      .container.editor
        form(method="post", action= gist.id ? "/editor/#{gist.id}/update" : "/editor/create")
          input#description(type="text", name="description", value=gist.description, placeholder="description")
          input(type="text", name="id", value=gist.id)

          //- might should do this on the server
          - cssFile = _.findWhere(gist.files, {language: 'CSS'});
          - htmlFile = _.findWhere(gist.files, {language: 'HTML'});

          input(type="hidden", name="files[CSS][filename]", value=cssFile.filename)
          textarea(name="files[CSS][content]", class="CSS")= cssFile.content

          input(type="hidden", name="files[HTML][filename]", value=htmlFile.filename)
          textarea(name="files[HTML][content]", class="HTML")= htmlFile.content

          button(type="submit") Save

        iframe#preview(sandbox="allow-modals allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts", frameborder="no")

      script(src="/js/vendor.min.js")
      script(src="/js/app.js")
      script.
        CSSIZER.editor.init();