.modal#save-modal
  .close
    i.icon-x
  .backdrop
  .content
    .well
      h1 Save to Github

      if user

        if user.id == gist.owner.id
          span we own this
        else
          span we dont own this

      else
        span there is no user

      form#save-form.prevent-double(method="post", action= gist.id ? "/gist/#{gist.id}/update" : "/gist/create")
        input(type="hidden", name="files[CSS][filename]", value=cssFile.filename)
        textarea(rows=5, name="description", placeholder="Description")=gist.description
        input(type="hidden", name="files[HTML][filename]", value=htmlFile.filename)
        input(type="hidden", name="id", value=gist.id)
        input(type="hidden", name="files[CSS][content]")= cssFile.content
        input(type="hidden", name="files[HTML][content]")= htmlFile.content
        button.btn.btn-block(type="submit")
          i.icon.icon-mark-github
          = "Save"